<div class="container">

  <br>
  <div class="col-sm-12">
    <h1 class="d-inline-block text-secondary">Twoje zamówienie:</h1>
    <button class="btn pull-right btn-info btn-lg text-center" [routerLink]="['/orders']" type="button">Wróć</button>
  </div>

  <br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID zamówienia:</th>
        <th scope="col">Data rozpoczęcia:</th>
        <th scope="col">Data zakończenia:</th>
        <th scope="col">Koszt:</th>
        <th scope="col">Opis:</th>
        <th scope="col">Zatwierdzone:</th>
        <th scope="col">Opłacone:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{order.orderID}}</td>
        <td>{{order.startDate | date:'dd-MM-yyyy'}}</td>
        <td>{{this.getEndDate()}}</td>
        <td>{{this.getCost()}}</td>
        <td>{{order.description}}</td>
        <td>{{this.getValidated()}}</td>
        <td>{{this.getPaid()}}</td>
      </tr>
    </tbody>
  </table>
</div>