<div class="containter">
    <form *ngIf="!isSubmited" [formGroup]="newOrderForm" (ngSubmit)="submitOrder()" class="mx-auto col-6 col-md-5 col-xl-5 text-center">
        <div class="form-group mt-5">
          <h1 class="text-center text-secondary">Zamówienie</h1>
          <br>
          <div class="form-group">
            <div class="temp">
                <label for="description">Opisz swoje zamówienie:</label>
                <textarea class="form-control" [ngClass]="{'is-invalid': newOrderForm.get('description').errors && newOrderForm.get('description').touched }" 
                id="description" formControlName="description" rows="5"></textarea>
                <div class="invalid-feedback">Opis zamówienia jest wymagany</div>
            </div>       
          </div>
          <br>
          <div class="form-group">
            <label for="startDate">Kiedy mamy do Ciebie przyjść?</label>
            <input class="form-control" [ngClass]="{'is-invalid': newOrderForm.get('startDate').errors && newOrderForm.get('startDate').touched }"
            id="startDate" type="text" formControlName="startDate" bsDatepicker [bsConfig]="bsConfig">
            <div class="invalid-feedback">Data jest wymagana</div>
          </div>
      
          <div class="form-group text-center">
            <button [disabled]="!newOrderForm.valid" class="btn btn-outline-dark mr-2" type="submit">Złóż zamówienie</button>
            <button class="btn btn-default ml-2" (click)="cancel()" type="button">Anuluj</button>
          </div>
        </div>
      </form>
      
      <div *ngIf="isSubmited" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center mt-5">
          <main role="main" class="inner cover">
            <h1 class="cover-heading">Dziękujemy za złożenie zamówienia</h1>
            <br>
            <p class="lead">Zamówienie jest teraz zatwierdzane przez naszych najlepszych specjalistów. Poinformujemy Cię mailem
              o zatwierdzeniu zamówienia, możesz również sprawdzić jego status i dodatkowe informacje, przeglądając Twoją listę zamówień.
            </p>
            <p class="lead">
              <a [routerLink]="['/orders']" href="#" class="btn btn-lg btn-outline-dark">Przegladaj zamówienia</a>
            </p>
          </main>
        </div>
</div>
