<div class="container">

    <br>
    <div class="col-sm-12">
        <h1 class="d-inline-block text-secondary">Lista zespołów:</h1>
        <button type="button" [routerLink]="['/new-team']" class="btn pull-right btn-info btn-lg text-center">Dodaj nowy zespół</button>
    </div>
    
    <br><br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Opis:</th>
          <th scope="col">Pracownicy TEMP:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teamList">
          <td>{{team.description}}</td>
          <td> <div style="cursor: pointer;" class="btn-group mr-4" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                      aria-controls="dropdown-basic">
                      Rozwiń<span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li *ngFor="let team of teamList" role="menuitem"><a class="dropdown-item">{{team.workers[team].firstName}}</a></li>
              </ul>
            </div></td>
        </tr>
      </tbody>
    </table>
    
  </div>